<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/basic">
<head>
<title>Social Cat Contact List</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body layout:fragment="content">
	<h1>Social Cat Contacts List:</h1>
	<a th:if="${isUser} == true" class="btn btn-success" href="/" th:href="@{|/contact/create|}" role="button">Create New Contact</a>
	<table th:if="${isUser} == true" class="table table-hover">
		<thead>
			<tr>
				<th>ID</th>
				<th>First Name</th>
				<th>Last Name</th>
				<th>Email</th>
				<th>Phone Number</th>
				<th>Active</th>
				<th th:if="*{! #strings.isEmpty(twitterHandle)}">Twitter</th>
				<th th:if="*{! #strings.isEmpty(facebookUrl)}">Facebook</th>
				<th>&nbsp;</th>
				<th>&nbsp;</th>
				<th>&nbsp;</th>
				<th>&nbsp;</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="c : ${user.contacts}">
				<td th:text="${c.id}"></td>
				<td th:text="${c.firstName}"></td>
				<td th:text="${c.lastName}"></td>
				<td th:text="${c.email}"></td>
				<td th:text="${c.phoneNumber}"></td>
				<td th:if="*{! #strings.isEmpty(twitterHandle)}">
					<a target="_blank"
						th:href="@{|https://twitter.com/*{twitterHandle}|}"
						th:text="*{twitterHandle}"></a>
				</td>
				<td th:if="*{! #strings.isEmpty(facebookUrl)}">
					<a target="_blank" th:href="@{|*{facebookUrl}|}"
						th:text="*{facebookUrl}"></a>
				</td>
				<td th:text="${c.active}"></td>
				<td><a class="btn btn-success" href="/" th:href="@{|/email/contact/${c.id}|}" role="button">Email</a></td>
				<td><a class="btn btn-default" href="/" th:href="@{|/contact/${c.id}}" role="button">View</a> </td>
				<td><a class="btn btn-primary" href="/" th:href="@{|/contact/${c.id}/edit|}" role="button">Edit</a></td>
				<td><a class="btn btn-success" href="/" th:href="@{|/contact/${c.id}/delete|}" role="button">Delete</a></td>
			</tr>
		</tbody>
	</table>
	<div th:unless="${isUser} == true">
	<p>Insufficient Permission.</p>
	</div>
</body>
</html>